

<body style="background-color:#EDC9AF; border-style: solid; border-width: 50px; border-left-width: 50px; border-right-width: 50px; border-color:#EDC9AF">

	
<h1 style="text-align:center; font-family:Courier; font-size:100px; color:#463E3F">Time to go...</h1> 



<p style="texy-align:left; font-family:Modern; font-size:30px; color:#4863A0";> Every once in a while, we need to be reminded of just how vulnerable we are to <em>TIME</em></p>



<p > <center><img src="http://upload.wikimedia.org/wikipedia/commons/3/37/Clock.gif" style="border-color:#307D7E; border-width:20px; border-style:solid"
/> </center>


<p style="text-align:left; font-family:Georgia; font-size:22px; color:#483C32">"Do you have the time?"<BR>
"Ya, It's time to get a watch."</p>





<p style="text-align:left; font-family:Calibri; font-size:20px; color:#348781"> It is now <%= Time.now %> 
	
	<em> Do you know where your children are?</em> </p>

	<p style="font-family:Impact; font-size:40px; color:#7D312F; text-align:center">where does the time go?</p>
		<ol style="text-align:left; font-size:20px; font-color:#A52A2A; font-family:Garamond">
			<li>Time is money. (benjamin franklin)</li>
			<li>It is my feeling that Time ripens all things; with Time all things are revealed; Time is the father of truth.(francois rabelais) </li>
			<li>Who is John Galt? (ayn rand)</li>
		</ol>

<p> <img src="http://psychopathyawareness.files.wordpress.com/2011/06/clock-melting-clocks.jpg?w=460"> </p>	
	<iframe width="420" height="315" src="//www.youtube.com/embed/fTLV3mseYTA?rel=0" frameborder="0" align="middle" allowfullscreen></iframe>

</body>
    

 



