<body style="background-color:#EDC9AF; border-size:50px">

<h1 style="text-align:center; font-family:Courier; font-size:100px; color:#463E3F">Time to go...</h1> 



<p style="texy-align:left; font-family:Modern; font-size:30px; color:#4863A0";> Every once in a while, we need to be reminded of just how vulnerable we are to <em>TIME</em></p>



<p > <img src="http://upload.wikimedia.org/wikipedia/commons/3/37/Clock.gif"align="right" style="border-color:#307D7E; border-width:20px; border-style:solid"
/>


<p style="text-align:center; font-family:Georgia; font-size:15px; color:#483C32">FIND ME AT... quarter past a freckle</p>





<p style="text-align:left; font-family:Calibri; font-size:20px; color:#348781"> It is now <%= Time.now %> 
	<em> Do you know where your children are?</em> </p>

	<p style="font-family:Impact; font-size:20px; color:#7D312F">where does the time go?</p>
		<ol style="text-align:center">
			<li>Time is money. (benjamin franklin)</li>
			<li>Camp fires</li>
			<li>Mathematics, such as 1 and 3 is <%= 1+3 %>
		</ol>
	<p> When I am older I want to be a ...</p>
		<ul>
			<li> a <%= "cow"+"boy" %> </li>
			<p>  or </p>
			<li> a <%= "barbie"+"doll" %> </li>
		</ul>
	<iframe width="420" height="315" src="//www.youtube.com/embed/fTLV3mseYTA?rel=0" frameborder="0" align="middle" allowfullscreen></iframe>

</body>
    

 



